<nav>
  <ul>
    <% if current_user.admin? %>
    <li><%= link_to "Users", users_path %></li>
    <% end %>
    <li><%= link_to "API Keys", api_keys_path %></li>
    <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>